absl-py==2.1.0
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
narwhals
numpy==1.23.5
opt_einsum
optree
packaging
pandas
patsy
pillow
pip
plotly
plotly-express
protobuf==3.20.*
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smmap
statsmodels
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow==2.12.0
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wheel
wrapt
